.cart-head {
    margin-top: 40px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sarpanch-Regular;
}

.back-to-store-cart-button {
    position: absolute;
    left: 5%;
    font-family: Sarpanch-Regular;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.cart-checkout {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
}

.back-arrow-button-cart {
    position: relative;
    right: 20px;
}
