input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.summer-collection-men {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  background: url("../../../assets/background/man-collection.png") no-repeat center center;
  background-size: cover;
}
@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
.summer-collection-men-text {
  text-transform: uppercase;
  font-family: Sarpanch-Bold;
  color: white;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: rgb(127, 255, 255); 
  }
  100% {
    color: white;
  }
}

.year-god {
  font-size: 60px;
  animation: colorChange 5s ease-in-out infinite;
  animation: pulse 5s infinite alternate;
}

.summer-collection-men-text h1 {
  font-size: 100px;
}

.catalog-layout {
  display: flex;
  align-items: flex-start;
  margin: 30px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-right: 20px;
  animation: fadeInUp 0.5s ease forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sort-buttons {
    font-family: Sarpanch-Regular;
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.sort-buttons-price-sort {
  width: 280px;
}

.sort-buttons:hover {
  background-color: #353333;
}

.input-filter {
  font-family: Sarpanch-Regular;
  border: 2px solid black;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
}

.product-card {
  font-size: 23px;
  font-family: Sarpanch-Regular;
  background-color: black;
  color: white;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: translateY(-10px);
}

.product-card:hover img {
  transform: scale(1.05);
}
img.fav-icon {
  width: 30px;
}

.price-type-product-card {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.fav-icon {
  height: 20vh;
  cursor: pointer;
}

.cart-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.cart-brand p {
  margin: 0;
}

.add-to-cart {
    font-family: Sarpanch-Regular;
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}


.add-to-cart:hover {
  background-color: #777;
}

.brand-list {
  font-family: Sarpanch-Regular;  
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.brand-list div {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.brand-list div:hover {
  background-color: #ddd;
}
