@font-face {
    font-family: "Sarpanch-Regular";
    src: url("../../../fonts/Sarpanch-Regular.ttf");
}
  
  @font-face {
    font-family: "Sarpanch-Bold";
    src: url("../../../fonts/Sarpanch-ExtraBold.ttf");
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #726868;
    color: #000000;
    font-family: "Sarpanch-Regular";
  }
  
  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-container div {
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-container button {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .form-container button:hover {
    background-color: #555;
  }
  
  .form-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .form-container a:hover {
    text-decoration: underline;
  }
  
  .register-button {
    background-color: #eee;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .register-button:hover {
    background-color: #ddd;
  }
  
  .form-container .register-button {
    margin-top: 10px;
  }
  
  .form-container input::placeholder {
    color: #ccc;
  }
