.zaglushka-orders {
    width: 100%;
    height: 200px;
}

.orders-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}

.main-text-oders {
    font-family: Sarpanch-Bold;
    font-size: 40px;
}

.other-text-oders {
    font-family: Sarpanch-Regular;
    font-size: 35px;
}

.orders-wrapper {
    font-family: Sarpanch-Regular;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 100px;
    margin-left: 20px;
    
  }
  
  .order-item {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 15px;
    margin-left: 35%;
  }
  
  .order-item h3 {
    margin-top: 0;
  }
  
  .order-items-list {
    list-style: none;
    padding-left: 0;
  }
  
  .order-item-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-item-image {
    height: 15vh;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  
  .zaglushka-orders {
    height: 50px;
  }