@font-face {
    font-family: "Sarpanch-Regular";
    src: url("../../../fonts/Sarpanch-Regular.ttf");
}

@font-face {
    font-family: "Sarpanch-Bold";
    src: url("../../../fonts/Sarpanch-ExtraBold.ttf");
}


.modal-container {
    position: relative;
  }
  
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 400px;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s ease;
    border: 1px solid black;
}
  
.modal-content {
    background-color: rgb(219, 255, 229);
    padding: 20px;
    flex-grow: 1;
    animation: slideIn 0.3s ease;
}
 


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}



.exit-button{
    border: none;
    background-color: transparent;
}

.exit-button-size{
    width: 20px;
}

.exit-button-size:hover{
    cursor: pointer;
}

.container-header {
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 120;
    border-bottom: 2px solid black;
}
  
.burger-button {
    padding-left: 35px;
    order: 1;
}
  
.categories-header {
    font-family: Sarpanch-regular;
    display: flex;
    order: 3;
    justify-content: center; 
    flex-grow: 1; 
}
  
.categories-header a {
    text-decoration: none;
    font-size:44px;
    text-transform: uppercase;
    margin-right: 20px; 
}

  .categories-header a:active{
    color: black;
}

.categories-header a:visited{
    text-decoration: none;
    color: black;
}
  
.logo-header {
    font-family: Sarpanch-Bold;
    font-size: 25px;
    margin-left: 30px;
    text-transform: uppercase;
    order: 2;
    flex-grow: -1; 
}
  
.logo-header a {
    text-decoration: none;
}
  
.logo-header a:active {
    text-decoration: none;
    color: black;
}
  
.logo-header a:visited {
    color: black;
}
  
.icon-group {
    order: 4;
    justify-content: flex-end;
}
  
.icon-group a {
    margin-right: 15px;
}
  
.icons {
    height: 30px;
}

.header-button{
    padding-top: 7px;
    background-color: white;
    border: none;
}

.header-button:hover{
    cursor: pointer;
}

