.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 110px;
  }
  
.search {
    padding-left: 70px;
}

.icon-group {
    display: flex;
    gap: 50px; 
    padding-right: 70px;
}

.icons{
    height: 30px;
}

.center{
    padding-left: 180px;
}
  