@font-face {
  font-family: "Sarpanch-Regular";
  src: url("../../../fonts/Sarpanch-Regular.ttf");
}

@font-face {
  font-family: "Sarpanch-Bold";
  src: url("../../../fonts/Sarpanch-ExtraBold.ttf");
}

footer {
  font-family: "Sarpanch-Regular";
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding-top: 4%;
}

.column1{
  width: 30%;
}

.column2,
.column3,
.column4{
  width: 10%;
  margin-right: 5%;
}


h3 {
  margin-top: 0;
}

p {
  margin-top: 10px;
}

.border {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 4%;
}

h2 {
  font-size: 70px;
}
