@font-face {
  font-family: "Sarpanch-Regular";
  src: url("../../../fonts/Sarpanch-Regular.ttf");
}

@font-face {
  font-family: "Sarpanch-Bold";
  src: url("../../../fonts/Sarpanch-ExtraBold.ttf");
}

footer {
  background-color: #f2f2f2;
  padding: 100px 0;
  font-family: "Sarpanch-Regular"; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 150px;
}

.column1 {
  flex-basis: 20%;
}

.column1 h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Sarpanch-Bold"; 
}

.column2, .column3, .column4 {
  flex-basis: 20%;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}