

.test{
    width: 100%;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: url("../../../../assets/background/start.gif") no-repeat center center;
    background-size: cover;
}
  
.name {
    font-family: "Sarpanch-Bold";
    color: white;
    text-transform: uppercase;
    font-size: 200px;
}
  
.title-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.title {
    font-family: "Sarpanch-regular";
    font-size: 20px;
     
}

.catalog{
    width: 400px;
}
.main-text {
    font-size: 35px; 
    line-height: 43px;
    padding: 10px 0; 
    font-family: "Sarpanch-regular";
    font-weight: 400;
    text-align: center;
}
  
  .top,
  .bottom {
    padding: 10px 0; 
}

.btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    
}

.button-models {
    font-family: Sarpanch-Regular;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}


.catalog:visited {
    color: #FAFAFA; 
}

.catalog:active {
    color: #FAFAFA; 
}


  
.button-models:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
  

.limited-edition{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
    height: 160px;
    background-color: black;
}

.limited-text{
    font-family: Sarpanch-Bold;
    color: white;
    font-size: 70px;
}

.models {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin: 0; 
}
  
.image-container {
    max-width: 100%;  
}
  
.image-container img {
    width: 100%; 
    height: 50vw; 
}
  
.image-container {
    position: relative; 
}
  
.button-on-image {
    position: absolute; 
    bottom: 10px; 
    left: 10%; 
    z-index: 10; 
}
  
.button-on-image:active {
    transform: translate(1px, 1px); 
}

.summer-collection {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background: url("../../../assets/background/summer-collection.png") no-repeat center center;
    background-size: cover;
    margin-top: -4px;
    line-height: 60px;
}

.summer-collection h1{
    font-family: Sarpanch-Bold;
    text-transform: uppercase;
    font-size: 90px;
    color: white;
}

.summer-collection p {
    font-family: Sarpanch-Bold;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}

.blog-text {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sarpanch-Bold;
    font-size: 70px;
}

.under-blog{
    margin-top: 50px;
}

.prefooter{
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../../assets/background/prefooter.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 390px;
    border-top: 2px solid black;
}

.prefooter-text{
    text-align: center;
    font-family: Sarpanch-Regular;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 100px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
.input-under-footer-text {
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    flex-grow: 1;
    background-color: transparent;
    font-size: 20px;
    font-family: Sarpanch-Regular;
}
  
.arrow-button {
    position: absolute;
    right: 0;
    bottom: 6px;
    border: none;
    background: url('../../../assets/icons/arrow.svg') no-repeat center;
    background-size: contain;
    width: 40px; 
    height: 24px;
    cursor: pointer;
}

.input-under-footer-text::placeholder{
    color: black;
    font-family: Sarpanch-Regular;
}


.container-column {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid black;
    height: 100px;
  }
  
.column {
    font-family: Sarpanch-Regular;
    flex: 1;
    text-align: center;
    padding: 10px;
    border-top: none;
    border-right: 1px solid black;
    text-transform: capitalize;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
  
 
.column:last-child {
    border-right: none;
}
  
  
.column:last-child {
    padding-right: 0;
    border: none;
}

.return{
    height: 30px;
}

.footer-icons{
    margin-right: 20px;
}


