html {
  scroll-behavior: smooth;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sarpanch-Regular";
  src: url("../../../fonts/Sarpanch-Regular.ttf");
}

@font-face {
  font-family: "Sarpanch-Bold";
  src: url("../../../fonts/Sarpanch-ExtraBold.ttf");
}

@font-face {
  font-family: MuseoModerno;
  src: url("../fonts/MuseoModerno-Black.ttf");
}

